<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> 
<%- messages() %>
<br>
<div id="account-container">
  <form id="loginForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button id="pwd-visibility" type="button">Toggle Password Visibility</button>
    <button type="submit" class="btn-account">Login</button>
  </form>
  <p id="no-account">No account? <a href="/account/register" id="registerLink">Sign-up</a></p>
</div>
