@media only screen and (min-width: 51rem) {
    html {
        background-image: url("/images/site/small_check.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    body {
        max-width: 960px;
        border: 10px solid rgb(0, 255, 255);
        border-radius: 20px;
        margin: 20px auto;
    }

    header .siteName {
        font-size: 4rem;
    }

    header #tools {
        font-size: 1.5rem;
    }

    nav a {
        padding: 1rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .hero-label {
        top: 30px;
        left: 30px;
        padding: 1.5rem;
        font-size: 2rem;
    }

    .hero-label a {
        border-radius: 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }

    #upgrades {
        grid-area: 1 / 1 / 2 / 2;
    }

    #reviews {
        grid-area: 1 / 2 / 2 / 3;
    }

    #reviews li {
        padding: 12px 0;
    }

    #detail-display {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 15px;
    }

    #detail-display section {
        margin: 0;
    }

    .saleInfo {
        margin: 0.5rem 0;
    }
}